// Colors
// Primary
$tomato: hsl(4, 100%, 67%);
// Neutral
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$error: hsl(0, 100%, 67%);
$error-bgc: rgba(255, 87, 87, 0.3);
$link: hsl(228, 45%, 44%);
