@use "./abstracts/brakepoints";

.main-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  @media screen and (min-width: brakepoints.$brakepoint-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "body image"
      "footer footer";
    align-items: center;
  }
  .design-wrapper {
    img {
      width: 100%;
      max-height: 350px;
      grid-area: image;
      @media screen and (min-width: brakepoints.$brakepoint-tablet) {
        max-height: 800px;
      }
    }
  }
  .main-body {
    margin: 0 auto;
    padding: 0 0.5em;
    max-width: 500px;
    grid-area: body;
    @media screen and (min-width: brakepoints.$brakepoint-tablet) {
      padding: 0 1em;

      & > * {
        margin: 2.5em 0;
      }
    }
    @media screen and (min-width: brakepoints.$brakepoint-desktop) {
      margin-right: 2em;
    }
  }
  .footer-wrapper {
    grid-area: footer;
    @media screen and (min-width: brakepoints.$brakepoint-desktop) {
      margin: 2em auto 0;
    }
  }
}
