@use "./abstracts/colors";

.success-screen-wrapper {
  margin: 0 auto;
  padding: 1.5em;
  max-width: 400px;
  .success-content {
    .success-title {
      margin: 1em 0;
      font-weight: bold;
    }
  }
}
