@use "./abstracts/colors";

.success-screen-wrapper {
  margin: 0 auto;
  padding: 1.5em;
  max-width: 400px;
  .success-content {
    .success-title {
      margin: 1em 0;
      font-weight: bold;
    }
    .btn-form-submit {
      margin: 1.5 auto;
      padding: 1.5em;
      border-radius: 10px;
      width: 100%;
      border: none;
      background-color: colors.$dark-slate-grey;
      transition: 0.3s;
      &:hover {
        background-color: colors.$tomato;
      }
    }
  }
}
